

/*component*/

@import "components/navigation-bar.css";
@import "screens/contents-exhibition.css";

/*screens*/

@import "screens/landing-page-area.css";
@import "screens/contents-collections.css";
@import "screens/contents-introduce.css";
@import "screens/contents-authors.css";

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

