/*component*/

@import "components/navigation-bar.css";

/*screens*/

@import "screens/landing-page-area.css";



* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

