@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");


/*component*/

@import "components/navigation-bar.css";
@import "screens/contents-exhibition-area.css";
/*screens*/

@import "screens/landing-page-area.css";


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

