.contents-introduce {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    margin: 150px 0;
}

.contents-space,
.contents-notices {
    width: 50%;
}

.contents-space--title {
    display: flex;
}

.contents-space--title_text,
.contents-space--title_sub-text {
    width: 100%;
}

.contents-space--title_sub-text {
    font-size: 20px;
    font-weight: 600;
}

.contents-space--title_text,
.contents-notices--title {
    font-size: 36px;
    font-weight: 600;
}

.contents-notices--title {
    margin-bottom: 50px;
}


.contents-space--description-script {
    margin-top: 20px;
}

/*space area*/

[data-id="notice-more"] {
    border-top: 1px solid grey;
}

.contents-notices--post {
    border-top: 1px solid grey;
}

.contents-notices--post > span {
    display: inline-block;
    color: grey;
    font-size: 16px;
    padding: 16px 0;
}

.contents-notices--post_number {
    width: 10%;
}

.contents-notices--post_text {
    width: 70%;
}


@media screen and (max-width: 800px) {
    .contents-introduce {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .contents-space--title {
        flex-wrap: wrap;
        width: 100%;
    }

    .contents-space,
    .contents-space--title_text,
    .contents-notices {
        width: 100%;
    }

    .contents-notices--post > span {
        font-size: 14px;
    }

    .contents-space--title_sub-text {
        width: 100%;
        justify-content: center;
        font-size: 14px;
    }

    .contents-space--title_text {
        margin-bottom: 15px;
    }

    .contents-space--description-script {
        font-size: 14px;
        margin-top: 15px;
        width: 100%;
    }
}