.contents-collections {
    width: 100%;
}

.contents-collections--title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}


.contents-collections--title-text {
    font-weight: 600;
    font-size: 36px;
}

.contents-collections--item {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contents-collections--item-title {
    width: 30%;
    text-align: start;
}

.contents-collections--item-img {
    width: 70%;
}


.contents-collections--item-img >img {
    width: 100%;
}