.contents-exhibition {
    height: 100vh;
}

.contents-exhibition--title {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents-exhibition--title-main {
    width: 600px;
    font-size: 36px;
    font-weight: 600;
}

.contents-exhibition--title-sub {
    width: 600px;

}

.more_icon{
    background-color: black;

}