.contents-authors {
    margin: 150px 0;
}

.contents-authors--title {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

.contents-authors--title-text {
    font-size: 36px;
    width: 50%;
    font-weight: 600;
    text-align: start;

}

.contents-authors--title-subtext {
    font-size: 16px;
    width: 50%;
}


.contents-authors--cards {
    margin-top: 50px;
}

.cards-first-wrap {
    display: flex;
}

.cards-two-wrap {
    display: flex;
}

.contents-authors--cards-card {
    width: 220px;
    height: 200px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.contents-authors--cards-card_img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.contents-authors--cards-card_name {
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .contents-authors--title {
        flex-wrap: wrap;
    }

    .contents-authors--title-text {
        width: 100%;
        font-size: 24px;
    }

    .contents-authors--title-subtext {
        width: 100%;
        font-size: 14px;
    }

    .cards-first-wrap {
        display: none;
    }

    .cards-two-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    [data-id="delete"] {
        display: none;
    }

    .contents-authors--cards {
        width: 100%;
    }

    .contents-authors--cards-card {
        width: 100%;
        height: 80vw;
        margin: 0 0px 30px 0;
    }

    .contents-authors--cards-card_img {
        width: 100%;
        height: 80vw;
    }

    .contents-authors--cards-card_name {
        text-align: center;
        font-size: 14px;
    }


}