.contents-exhibition {
    margin: 100px 0;
}

.contents-program {
    margin: 100px 0;
}

.contents-exhibition--title {
    display: flex;
    gap: 40px;
}

.contents-exhibition--title-main {
    width: 50%;
    font-size: 36px;
    font-weight: 600;
    text-align: start;
}

.contents-exhibition--title-sub {
    width: 50%;
}

.contents-exhibition--boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    width: 100%;
}

.contents-exhibition--boxes-box1,
.contents-exhibition--boxes-box2 {
    width: 50%;
}

[data-id="box1-img"],
[data-id="box2-img"] {
    width: 100%;
}

.contents-exhibition--box1_text > span {
    display: inline-block;
}

.contents-exhibition--box1_text {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

[data-id="exhibition-name"] {
    font-weight: 600;
    width: 50%;
}

[data-id="exhibition-date"] {
    color: grey;
    width: 50%;

}


@media screen and (max-width: 800px) {
    .contents-exhibition--title {
        flex-wrap: wrap;
    }

    .contents-exhibition--title-main {
        width: 100%;
        font-size: 24px;
    }

    .contents-exhibition--title-sub {
        width: 100%;
        font-size: 14px;

    }

    .contents-exhibition--boxes-box2 {
        display: none;
    }

    .contents-exhibition--boxes-box1 {
        width: 100%;
    }

    [data-id="exhibition-name"],
    [data-id="exhibition-date"] {
        font-size: 14px;
    }

}
