.footer {
    width: 100%;
    display: flex;
    background-color: black;
    padding: 50px;
    flex-wrap: wrap;
}

.footer-left {
    width: 50%;
}

.footer-right {
    width: 50%;
}

.footer-left--address {
    margin-bottom: 50px;
    line-height: 25px;
}

.footer-left--email {
    line-height: 25px;
}

.footer-left--address span {
    font-size: 16px;
    color: grey;
}

.footer-left--email span {
    color: grey;
}


.footer-right--sitemap > span {
    color: #868e96;
    font-size: 16px;
}


.footer-left--email-deny {
    margin-left: 30px;
    color: white;
    font-weight: 600;
}

.footer-left--email .footer-left--legacy {
    color: white;
    font-weight: 600;
}

.footer-right--sitemap {
    display: flex;
    margin-bottom: 30px;
}

.footer-right--sitemap-notices {
    list-style: none;
}

.footer-right--sitemap li {
    color: grey;
}

.footer-right--sitemap ul {
    margin-right: 30px;
}

.footer-right--etc-copyright_text {
    color: gray;
}

.footer-right--etc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-right--etc-dropdown {
    border: 1px solid white;
    padding: 10px;
    margin-top: 10px;

}

.footer-right--etc-dropdown_btn {
    background-color: black;
    display: flex;
    color: gray;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.footer-right--etc-dropdown_btn-dot {
    width: 10px;
    height: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .footer {
        padding: 30px;
        font-size: 14px;
    }

    .footer-left,
    .footer-left--address,
    .footer-left--address,
    .footer-right {
        width: 100%;
    }

    .footer-right--etc-dropdown_btn-dot {
        display: none;
    }

    .footer-right--etc-dropdown {
        width: 100%;
    }

    .footer-right--etc-dropdown {
        width: 500px;
        margin-bottom: 10px;
    }

    .footer-right--etc-dropdown_btn {
        justify-content: flex-start;
    }

    .footer-right--sitemap {
        margin-top: 30px;
        width: 100%;
    }

    .footer-right--sitemap-notices,
    .footer-right--sitemap-sns,
    .footer-right--sitemap-sell {
        width: 33%;
    }

    .footer-right--etc {
        flex-wrap: wrap-reverse;
    }

    .footer-left--address > span {
        font-size: 14px;
    }

}
