.nav-bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    color: transparent;
    margin-top: 20px;
}


.nav-bar--wrap {
    width: 1230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
}

.nav-bar--information {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
}

.nav-bar--information-dot {
    margin-top: 10px;
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 4px;
    padding-bottom: 7px;
}

.nav-bar--information-i {
    width: 6px;
    height: 23px;
    background-color: white;
}


.nav-bar--btn-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar--logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

a[data-id="nar-bar--btn-a"] {
    padding: 20px;
    font-weight: 600
}

@media screen and (max-width: 800px) {
    .nav-bar--btn-list {
        display: none;
    }
}
